$slate-50: hsl(210, 40%, 98%);
$slate-100: hsl(210, 40%, 96%);
$slate-200: hsl(214, 32%, 91%);
$slate-300: hsl(213, 27%, 84%);
$slate-400: hsl(215, 20%, 65%);
$slate-500: hsl(215, 16%, 47%);
$slate-600: hsl(215, 19%, 35%);
$slate-700: hsl(215, 25%, 27%);
$slate-800: hsl(217, 33%, 17%);
$slate-900: hsl(222, 47%, 11%);

$blue-50: hsl(214, 100%, 97%);
$blue-100: hsl(214, 95%, 93%);
$blue-200: hsl(213, 97%, 87%);
$blue-300: hsl(212, 96%, 78%);
$blue-400: hsl(213, 94%, 68%);
$blue-500: hsl(217, 91%, 60%);
$blue-600: hsl(221, 83%, 53%);
$blue-700: hsl(224, 76%, 48%);
$blue-800: hsl(226, 71%, 40%);
$blue-900: hsl(224, 64%, 33%);

$white: hsl(0, 0%, 100%);

$radius: .5rem;

$border: solid 1px $slate-200;
